.border,
.border-top,
.border-bottom,
.border-start,
.border-end {
	border-color: var(--accent-bg-color) !important;
}

.border-black {
	border-color: #000 !important;
	border-width: 2px !important;
}

.bg-accent {
	background-color: var(--accent-bg-color);
}

.color-accent,
.color-accent>h1,
.color-accent>h4,
.color-accent>p,
.color-accent>span,
.color-accent>div {
	color: var(--accent-text-color);
}

.bg-main {
	background-color: var(--main-bg-color);
}

.color-main {
	color: var(--main-text-color);
}


h1 {
	font-family: 'Major Mono Display';
}

.font-monospace {
	font-family: 'Source Code Pro';
}

.lead {
	font-family: 'Roboto Mono Light';
	/* font-weight: bold; */
}

hr {
	background-color: var(--main-text-color);
	color: var(--main-text-color);
	opacity: 1;
	/* width: 90%; */
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	border: 0; /*1px solid var(--main-text-color);*/
	border-radius: 1px;
	overflow: hidden;
}

footer {
	border-top: 1px solid var(--accent-bg-color);
}

/* main {
	margin-top: var(--nav-height);
	margin-bottom: var(--footer-height);
} */

/* input {
	width: 100%;
} */

.song:hover {
	background-color: var(--accent-bg-color);
	color: var(--accent-text-color) !important;
	cursor: pointer;
}

i {
	font-size: 1.5rem;
}

img {
	max-width: 100%;
	max-height: 100%;
}

input[type="text"],
input[type="email"],
#submit,
textarea {
	width: 100%;
	height: 100%;
	border: none;
}

#submit>h1 {
	color: var(--accent-bg-color);
	background-color: transparent;
}

#submit:hover {
	background-color: var(--accent-bg-color);
}

#submit:hover>h1 {
	color: var(--accent-text-color);
}

textarea {
	resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
#submit,
textarea:focus {
	outline: none;
}

#hero {
	border: 1px solid var(--accent-bg-color);
	border-radius: 0.5rem;
}

@media (min-width: 992px) {
	.border-lg-start {
		border-left: 1px solid var(--accent-bg-color);
	}

	.border-lg-bottom {
		border-bottom: 1px solid var(--accent-bg-color);
	}

	#hero {
		border: 0;
		border-bottom: 1px solid var(--accent-bg-color);
		border-radius: 0;
	}
}

.album-art {
	overflow: hidden;
	border: 1px solid var(--accent-bg-color);
	border-radius: 10%;
}

/* .control,
.song {
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
} */

/* #submit,
#submit>h1 {
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
} */

.control:hover {
	color: var(--accent-bg-color);
	cursor: pointer;
}

:root {
	--slider-size: 5px;
}

.progress {
	width: 100%;
	height: var(--slider-size);
	margin-top: calc((1rem - var(--slider-size)) / 2);
	z-index: -1;
}

.form-range {
	padding-left: 8px;
	padding-right: 8px;
	/* visibility: hidden; */
}

#playhead-input {
	top: -0.25rem;
}

#volume-input {
	top: 4px;
}

i,
span {
	vertical-align: middle;
}

.track-name {
	text-overflow: ellipsis;
}

.playing {
	color: var(--accent-bg-color);
}

#track-art {
	border-radius: 10%;
	overflow: hidden;
}

a {
	color: var(--main-text-color);
	border: 1px solid transparent;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	/* background-color: var(--accent-bg-color); */
	color: var(--accent-bg-color);
	border-color: var(--accent-bg-color);
}